body {  
  display: flex;  
  flex-direction: column;  
  align-items: center;  
  justify-content: center;  
  height: 100vh;  
  margin: 0;  
  font-family: Arial, sans-serif;  
}  
  
h1 {  
  font-size: 24px; /* Adjust font size as needed */  
  margin: 0 0 20px 0; /* Top and bottom outer margins */  
}  
  
.boxed-h2 {  
  display: inline-block; /* Enable H2 content to be displayed within a box */  
  background-color: lightgrey;
  padding: 10px; /* Box inner margin */  
  border: 1px solid #000; /* Box border */  
  font-size: 30px; /* Ensure that the font size of h2 is greater than h1 */  
  margin: 0 0 20px 0; /* Top and bottom outer margins */  
}  
  
.image-container {  
  text-align: center; /* The content inside the horizontally centered container */  
}  
  
.image-container img {  
  display: block; /* Eliminate default gaps at the bottom of the image */  
  width: 300px; /* Limit the maximum width of images to container width */  
  height: auto; /* Maintain Image Scale */  
}  
  
.image-container button {  
  margin-top: 20px; /* Add spacing between images */  
  padding: 10px 20px; /* padding  */  
  font-size: 16px; /* font size */  
  color: white; /* text color */  
  background-color: lightblue; /* background color  */  
  border: none; /* no border */  
  border-radius: 5px; /* fillet */  
  cursor: pointer; /* Change to hand shape when hovering over the mouse */  
}  
  
.image-container button:hover {  
  background-color: #45a049; /* Background color when hovering over the mouse */  
}
